<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	<properties resource="conf/db.properties" />
	
	<settings>
	  	<setting name="logImpl" value="LOG4J"/>
	</settings> -->

	<!-- default env  -->
	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.user}" />
				<property name="password" value="${db.password}" />
			</dataSource>
		</environment> -->

	<!-- test env  -->
<!-- 		<environment id="test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${db.url}" />
				<property name="username" value="${db.user}" />
				<property name="password" value="${db.password}" />			</dataSource>
		</environment>
	</environments> -->
	<mappers>
		<mapper resource="mybatis/mapper/UserMapper.xml" />
	</mappers>
</configuration>