<?xml version="1.0" encoding="UTF-8"?>

<!-- ~ The MIT License (MIT) ~ ~ Copyright (c) 2014 abel533@gmail.com ~ ~ 
	Permission is hereby granted, free of charge, to any person obtaining a copy 
	~ of this software and associated documentation files (the "Software"), to 
	deal ~ in the Software without restriction, including without limitation 
	the rights ~ to use, copy, modify, merge, publish, distribute, sublicense, 
	and/or sell ~ copies of the Software, and to permit persons to whom the Software 
	is ~ furnished to do so, subject to the following conditions: ~ ~ The above 
	copyright notice and this permission notice shall be included in ~ all copies 
	or substantial portions of the Software. ~ ~ THE SOFTWARE IS PROVIDED "AS 
	IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR ~ IMPLIED, INCLUDING BUT NOT 
	LIMITED TO THE WARRANTIES OF MERCHANTABILITY, ~ FITNESS FOR A PARTICULAR 
	PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE ~ AUTHORS OR COPYRIGHT 
	HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER ~ LIABILITY, WHETHER IN 
	AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, ~ OUT OF OR IN CONNECTION 
	WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN ~ THE SOFTWARE. -->

<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<properties resource="conf/db.properties" />
	
	<!-- <classPathEntry location="D:\SDK\repository\mysql\mysql-connector-java\5.1.6\mysql-connector-java-5.1.6.jar"/> -->
	
	<context id="Mysql">
		<property name="beginningDelimiter" value="`" />
		<property name="endingDelimiter" value="`" />

	    <commentGenerator>  
	        <property name="suppressDate" value="true"/>  
	        <!-- 是否去除自动生成的注释 true：是 ： false:否 -->  
	        <property name="suppressAllComments" value="true"/>  
	    </commentGenerator>  

		<jdbcConnection 
			driverClass="${jdbc.driver}"
			connectionURL="${db.url}" 
			userId="${db.user}"
			password="${db.password}">
		</jdbcConnection>


		<javaModelGenerator targetPackage="test.model" targetProject="plat" />

		<sqlMapGenerator targetPackage="test.mapper"  targetProject="plat" />

		<javaClientGenerator targetPackage="test.mapper"  targetProject="plat" type="XMLMAPPER" />

		<table tableName="zmxy_order_notice" domainObjectName="zmxyOrderNotice" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
		</table>
	</context>
</generatorConfiguration>
